<section
	class="relative md:py-24 py-16 bg-gray-50 dark:bg-slate-800 text-white"
	id="home"
>
	<!-- style="min-height: 100svh;" -->
	<div class="absolute inset-0 bg-black opacity-80"></div>

	<div class="container mx-auto">
		<h3 class="mt-5">
			Siruk invoice is more than manual deployment of server. It includes manual
			implementation of the invoice/receipt design.
			<br />
			<div class="mt-5">
				Write an email, or contact from <b
					><u><a href="/#contact">HERE</a></u></b
				>, my team will reach back to you within 48 hours.
				<br />
				 Or contact <b
					><u><a href="wa.me/919996244310">WHATSAPP SUPPORT</a></u></b
				>.
			</div>
		</h3>
	</div>
</section>
