---
import Layout from "../../layouts/Layout.astro"
import SirukInvoiceFeatureDetail from "../../components/siruk-invoice/SirukInvoiceFeatureDetail.astro"
---

<Layout title="PHARMACY | product by blalmal10a portfolio">
	<div>
		<SirukInvoiceFeatureDetail />
	</div>
</Layout>
