<div class="timeline-item mt-5 pt-4">
	<div class="grid sm:grid-cols-2">
		<div class="md:order-1 order-2">
			<div
				class="event ltr:float-left rtl:float-right ltr:text-right rtl:text-left md:me-7"
			>
				<h5 class="text-lg dark:text-white mb-1 font-medium">Development</h5>
				<p class="timeline-subtitle mt-3 mb-0 text-slate-400">
					The generated injected humour, or non-characteristic words etc. Cum
					sociis natoque penatibus et magnis dis parturient montes, nascetur
					ridiculus mus. Donec quam felis,
				</p>
			</div>
		</div>
		<div class="md:order-2 order-1">
			<div class="duration duration-right md:ms-7 relative">
				<img src="assets/images/svg/coding.svg" class="h-64 w-64" alt="" />
			</div>
		</div>
	</div>
</div>
