<div class="timeline-item mt-5 pt-4">
	<div class="grid sm:grid-cols-2">
		<div>
			<div
				class="date-label-left duration flex justify-center md:me-7 relative"
			>
				<img
					src="src/assets/images/typing.svg"
					class="h-64 w-64 object-cover"
					alt=""
				/>
			</div>
		</div>
		<div class="mt-4 md:mt-0">
			<div
				class="event ltr:float-left rtl:float-right ltr:text-left rtl:text-right md:ms-7"
			>
				<h5 class="text-lg dark:text-white mb-1 font-medium">TILTETYPE</h5>

				<p
					class="timeline-subtitle mt-3 mb-0 text-slate-600 dark:text-slate-400"
				>
					Hemi project hi, inzirna leh hna thawh sawi tel loh-ah chuan ka khawih
					hmasak ve ber a ni. Typing speed test-na game a nia, a hnu-ah
					multiplayer mode dah belh a ni.
					<br />
					<a href="https://tiltetype.netlify.app" target="_blank">
						<u class="text-orange-500 font-semibold">
							Hetah hian khelh theihin a awm
						</u>
					</a>
				</p>
			</div>
		</div>
	</div>
</div>
