---
import Layout from "../../layouts/Layout.astro"
import SirukPharmacyFeatureDetail from "../../components/pharmacy/SirukPharmacyFeatureDetail.astro"
---

<Layout title="PHARMACY | product by blalmal10a portfolio">
	<div>
		<SirukPharmacyFeatureDetail />
	</div>
</Layout>
