<section
	class="relative md:py-24 py-16 bg-gray-50 dark:bg-slate-800 text-white"
	id="home"
>
	<!-- style="min-height: 100svh;" -->
	<div class="absolute inset-0 bg-black opacity-80"></div>

	<div class="container mx-auto">
		<h3 class="mt-5">
			Siruk Pharmacy Feature tlangpui
			<b
				><u
					><a href="https://pharmacydemo.web.app" target="_blank"
						>Demo of the app is available here</a
					></u
				></b
			>
		</h3>
		<ol>
			<li style="margin-top: 20px;">
				- <u>Inventory management</u>: Damdawi chi hrang hrang ziah luhna a awm
				anga, heng damdawi te hi hlawm lian tak2 pathum (tablet, bottle, leh
				piece) anga thliar hran an ni.
			</li>
			<li style="margin-top: 20px;">
				- <u>Whole sale and reatail</u>: Whole-sale leh retail tana hman theih
				tura buatsaih a ni.
			</li>
			<li style="margin-top: 20px;">
				- <u>Inventory detail update</u>: Damdawi awm lo dah belhna te, damdawi
				thleng thar ziah belhna te a awm anga
			</li>
			<li style="margin-top: 20px;">
				- <u>Anonymous or buyer specific sales</u>:Damdawi hralh apiangin, a
				leitu ziah luhna leh, a damdawi leh chhinchhiahna a awm anga
			</li>
			<li style="margin-top: 20px;">
				- <u>Daily Sales details</u>:Hetiang atang hian nitin damdawi hralh dan
				chiang zawka en letna awm anga, nitina pawisa che vel chiang zawka
				tarlanin a awm bawk ang.
			</li>
			<li style="margin-top: 20px;">
				- <u>Handle returned items</u>: Damdawi hralh tawh, thleng lehte chu
				invoice/receipt tih danglam theihin a awm ang.
			</li>
		</ol>

		<div class="mt-24">SOFTWARE RENTING</div>
		<ol>
			<li class="mt-5">
				Write an email, or contact from <b
					><u><a href="/#contact">HERE</a></u></b
				>, my team will reach back to you within 48 hours. Or contact <b
					><u><a href="wa.me/919996244310">WHATSAPP SUPPORT</a></u></b
				>.
			</li>
			<li class="mt-5">
				Pharmacy App will be available for testing, free trial period will be 3
				months. However, once the app is confirmed, the billing of first year
				will include the trial period.
			</li>
			<li class="mt-5">
				The yearly subscription fee of the application is &#8377;1500.00
			</li>
			<li class="mt-5">NO REFUND IS AVAILABLE</li>
		</ol>
	</div>
</section>
