---
import {skillList} from "../scripts/skill-data"
import StarRating from "./StarRating.astro"
---

<!-- Start -->
<section class="relative" id="home">
	<div id="app">
		<div
			class="absolute inset-0 bg-black opacity-10 home-bg"
			style="border-top: 70px solid  black;"
		>
		</div>
		<div
			class="container mx-auto flex justify-center items-center"
			style="overflow-x: hidden; height: calc(100dvh - 200px)"
		>
		</div>
	</div>
</section>
