---
import {skillList} from "../scripts/skill-data"
import StarRating from "./StarRating.astro"
---

<!-- Start -->
<section class="relative md:py-24 py-16 bg-gray-50 dark:bg-slate-800" id="home">
	<!-- style="min-height: 100svh;" -->

	<div
		class="absolute inset-0 bg-black opacity-10 home-bg"
		style="border-top: 70px solid  black;"
	>
	</div>

	<div class="container mx-auto" style="overflow-x: hidden;">
		<div class="">
			<h6
				class="text-orange-600 text-7xl mb-2"
				data-aos="zoom-in-left"
				data-aos-duration="2000"
			>
				Hi!
			</h6>
			<div
				style="padding-left: min(10vh, 10vw);"
				data-aos="fade-right"
				data-aos-duration="2100"
			>
				<h3 class="md:text-2xl text-xl font-medium">Ka hming chu</h3>
				<h3 class="mb-4 md:text-2xl font-medium text-xl">
					a pawimawh ber lo va.
				</h3>

				<p class="max-w-2xl text-2xl">
					Thil lak tlak loh tak tak ka siam &#7789;hin
				</p>
				<div class="sm:flex -mx-2">
					<div class="flex-shrink px-2">
						<div
							class="relative mt-10"
							data-aos="zoom-in-up"
							data-aos-duration="3000"
						>
							<a
								style="width: 200px;"
								href="#projects"
								class="btn bg-orange-600 hover:bg-orange-700 border-orange-600 hover:border-orange-700 text-white rounded-md"
								>Personal Projects</a
							>
						</div>
					</div>
					<div class="flex-shrink px-2">
						<div class="relative mt-10" data-aos="zoom-in-up">
							<a
								style="width: 200px;"
								href="#technical-knowledge"
								class="btn white-600 hover:white-700 border-orange-600 hover:border-orange-700 text-orange-600 rounded-md"
								>Technical Skills</a
							>
						</div>
					</div>
				</div>

				<!-- <div
					class="relative mt-10"
					data-aos="zoom-in-up"
					data-aos-duration="3000"
				>
					<a
						href="#projects"
						class="btn bg-orange-600 hover:bg-orange-700 border-orange-600 hover:border-orange-700 text-white rounded-md"
						>View Projects</a
					>
				</div> -->
			</div>
		</div>
		<div
			class="grid grid-cols-1 lg:grid-cols-12 md:grid-cols-2 gap-10 items-center bg-red-200"
		>
			<!-- <div class="lg:col-span-5">
				<div class="relativ flex justify-center">
					<img
						src="/assets/images/landing.svg"
						class="rounded-lg relative max-w-[50vw] md:max-w-max"
						alt=""
					/>
				</div>
			</div> -->

			<!--<div class="lg:col-span-7">
				 <div class="lg:ms-7">
					<h6 class="text-orange-600 text-7xl mb-2">Hi!</h6>
					<h3 class="md:text-2xl text-xl font-medium text-slate-300">
						Ka hming chu
					</h3>
					<h3 class="mb-4 md:text-2xl font-medium text-slate-300 text-xl">
						a pawimawh ber lo va.
					</h3>

					<p class="text-white max-w-2xl mx-auto text-2xl">
						Thil lak tlak loh tak tak ka siam &#7789;hin
					</p>

					<div class="relative mt-10">
						<a
							href="#projects"
							class="btn bg-orange-600 hover:bg-orange-700 border-orange-600 hover:border-orange-700 text-white rounded-md"
							>View Projects</a
						>
					</div>
				</div>
			</div> -->
			<!--end col-->
		</div><!--end grid-->
	</div>
</section><!--end section-->
<!-- End -->
