---
import ContactSection from "./ContactSection.astro"
---

<footer class="py-8 bg-slate-800 dark:bg-gray-900" id="contact">
	<ContactSection />
	<!-- <div class="flex justify-center">
		<ul
			class="list-none foot-icon ltr:md:text-right rtl:md:text-left text-center"
		>
			<li class="inline">
				<a
					href="https://www.github.com/blalmal10a/"
					target="_blank"
					class="btn btn-icon btn-sm border rounded-md border-slate-700 dark:border-slate-800 hover:border-orange-600 bg-slate-800 dark:bg-gray-900 hover:bg-orange-600 dark:hover:bg-orange-600 text-gray-400 hover:text-white"
					><i class="uil uil-github align-middle" title="github"
					></i></a
				>
			</li>
			<li class="inline">
				<a
					href="https://www.facebook.com/blalmal10a/"
					target="_blank"
					class="btn btn-icon btn-sm border rounded-md border-slate-700 dark:border-slate-800 hover:border-orange-600 bg-slate-800 dark:bg-gray-900 hover:bg-orange-600 dark:hover:bg-orange-600 text-gray-400 hover:text-white"
					><i class="uil uil-facebook-f align-middle" title="facebook"
					></i></a
				>
			</li>
			<li class="inline">
				<a
					href="https://www.instagram.com/blalmal10a/"
					target="_blank"
					class="btn btn-icon btn-sm border rounded-md border-slate-700 dark:border-slate-800 hover:border-orange-600 bg-slate-800 dark:bg-gray-900 hover:bg-orange-600 dark:hover:bg-orange-600 text-gray-400 hover:text-white"
					><i class="uil uil-instagram align-middle" title="instagram"
					></i></a
				>
			</li>
			<li class="inline">
				<a
					href="https://twitter.com/blalmal10a"
					target="_blank"
					class="btn btn-icon btn-sm border rounded-md border-slate-700 dark:border-slate-800 hover:border-orange-600 bg-slate-800 dark:bg-gray-900 hover:bg-orange-600 dark:hover:bg-orange-600 text-gray-400 hover:text-white"
					><i class="uil uil-twitter align-middle" title="twitter"
					></i></a
				>
			</li>
			<li class="inline">
				<a
					href="mailto:sirukla.in@gmail.com"
					class="btn btn-icon btn-sm border rounded-md border-slate-700 dark:border-slate-800 hover:border-orange-600 bg-slate-800 dark:bg-gray-900 hover:bg-orange-600 dark:hover:bg-orange-600 text-gray-400 hover:text-white"
					><i class="uil uil-envelope align-middle" title="email"
					></i></a
				>
			</li>
			<li class="inline">
				<a
					href="https://www.linkedin.com/in/blalmalsawma/"
					target="_blank"
					class="btn btn-icon btn-sm border rounded-md border-slate-700 dark:border-slate-800 hover:border-orange-600 bg-slate-800 dark:bg-gray-900 hover:bg-orange-600 dark:hover:bg-orange-600 text-gray-400 hover:text-white"
					><i class="uil uil-linkedin align-middle" title="Linkedin"
					></i></a
				>
			</li>
		</ul>
	</div> -->
	<div>
		<div class="container max-w-screen-lg mx-auto">
			<div>
				<div class="flex flex-wrap justify-center gap-2">
					<a
						href="https://www.linkedin.com/in/blalmalsawma/"
						target="_blank"
						rel="noopener noreferrer"
					>
						<button
							class="bg-blue-600 p-2 font-semibold text-white inline-flex items-center space-x-2 rounded"
						>
							<svg
								class="w-5 h-5 fill-current"
								role="img"
								viewBox="0 0 256 256"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g
									><path
										d="M218.123122,218.127392 L180.191928,218.127392 L180.191928,158.724263 C180.191928,144.559023 179.939053,126.323993 160.463756,126.323993 C140.707926,126.323993 137.685284,141.757585 137.685284,157.692986 L137.685284,218.123441 L99.7540894,218.123441 L99.7540894,95.9665207 L136.168036,95.9665207 L136.168036,112.660562 L136.677736,112.660562 C144.102746,99.9650027 157.908637,92.3824528 172.605689,92.9280076 C211.050535,92.9280076 218.138927,118.216023 218.138927,151.114151 L218.123122,218.127392 Z M56.9550587,79.2685282 C44.7981969,79.2707099 34.9413443,69.4171797 34.9391618,57.260052 C34.93698,45.1029244 44.7902948,35.2458562 56.9471566,35.2436736 C69.1040185,35.2414916 78.9608713,45.0950217 78.963054,57.2521493 C78.9641017,63.090208 76.6459976,68.6895714 72.5186979,72.8184433 C68.3913982,76.9473153 62.7929898,79.26748 56.9550587,79.2685282 M75.9206558,218.127392 L37.94995,218.127392 L37.94995,95.9665207 L75.9206558,95.9665207 L75.9206558,218.127392 Z M237.033403,0.0182577091 L18.8895249,0.0182577091 C8.57959469,-0.0980923971 0.124827038,8.16056231 -0.001,18.4706066 L-0.001,237.524091 C0.120519052,247.839103 8.57460631,256.105934 18.8895249,255.9977 L237.033403,255.9977 C247.368728,256.125818 255.855922,247.859464 255.999,237.524091 L255.999,18.4548016 C255.851624,8.12438979 247.363742,-0.133792868 237.033403,0.000790807055"
									></path></g
								>
							</svg>
						</button>
					</a>
					<a
						href="http://instagram.com/blalmal10a"
						target="_blank"
						rel="noopener noreferrer"
					>
						<button
							class="bg-violet-500 p-2 font-semibold text-white inline-flex items-center space-x-2 rounded"
						>
							<svg
								class="w-5 h-5 fill-current"
								role="img"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 32 32"
								><g id="SVGRepo_bgCarrier" stroke-width="0"
								></g><g
									id="SVGRepo_tracerCarrier"
									stroke-linecap="round"
									stroke-linejoin="round"></g><g
									id="SVGRepo_iconCarrier"
								>
									<rect
										x="2"
										y="2"
										width="28"
										height="28"
										rx="6"
										fill="url(#paint0_radial_87_7153)"
									></rect>
									<rect
										x="2"
										y="2"
										width="28"
										height="28"
										rx="6"
										fill="url(#paint1_radial_87_7153)"
									></rect>
									<rect
										x="2"
										y="2"
										width="28"
										height="28"
										rx="6"
										fill="url(#paint2_radial_87_7153)"
									></rect>
									<path
										d="M23 10.5C23 11.3284 22.3284 12 21.5 12C20.6716 12 20 11.3284 20 10.5C20 9.67157 20.6716 9 21.5 9C22.3284 9 23 9.67157 23 10.5Z"
										fill="white"></path>
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M16 21C18.7614 21 21 18.7614 21 16C21 13.2386 18.7614 11 16 11C13.2386 11 11 13.2386 11 16C11 18.7614 13.2386 21 16 21ZM16 19C17.6569 19 19 17.6569 19 16C19 14.3431 17.6569 13 16 13C14.3431 13 13 14.3431 13 16C13 17.6569 14.3431 19 16 19Z"
										fill="white"></path>
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M6 15.6C6 12.2397 6 10.5595 6.65396 9.27606C7.2292 8.14708 8.14708 7.2292 9.27606 6.65396C10.5595 6 12.2397 6 15.6 6H16.4C19.7603 6 21.4405 6 22.7239 6.65396C23.8529 7.2292 24.7708 8.14708 25.346 9.27606C26 10.5595 26 12.2397 26 15.6V16.4C26 19.7603 26 21.4405 25.346 22.7239C24.7708 23.8529 23.8529 24.7708 22.7239 25.346C21.4405 26 19.7603 26 16.4 26H15.6C12.2397 26 10.5595 26 9.27606 25.346C8.14708 24.7708 7.2292 23.8529 6.65396 22.7239C6 21.4405 6 19.7603 6 16.4V15.6ZM15.6 8H16.4C18.1132 8 19.2777 8.00156 20.1779 8.0751C21.0548 8.14674 21.5032 8.27659 21.816 8.43597C22.5686 8.81947 23.1805 9.43139 23.564 10.184C23.7234 10.4968 23.8533 10.9452 23.9249 11.8221C23.9984 12.7223 24 13.8868 24 15.6V16.4C24 18.1132 23.9984 19.2777 23.9249 20.1779C23.8533 21.0548 23.7234 21.5032 23.564 21.816C23.1805 22.5686 22.5686 23.1805 21.816 23.564C21.5032 23.7234 21.0548 23.8533 20.1779 23.9249C19.2777 23.9984 18.1132 24 16.4 24H15.6C13.8868 24 12.7223 23.9984 11.8221 23.9249C10.9452 23.8533 10.4968 23.7234 10.184 23.564C9.43139 23.1805 8.81947 22.5686 8.43597 21.816C8.27659 21.5032 8.14674 21.0548 8.0751 20.1779C8.00156 19.2777 8 18.1132 8 16.4V15.6C8 13.8868 8.00156 12.7223 8.0751 11.8221C8.14674 10.9452 8.27659 10.4968 8.43597 10.184C8.81947 9.43139 9.43139 8.81947 10.184 8.43597C10.4968 8.27659 10.9452 8.14674 11.8221 8.0751C12.7223 8.00156 13.8868 8 15.6 8Z"
										fill="white"></path>
									<defs>
										<radialGradient
											id="paint0_radial_87_7153"
											cx="0"
											cy="0"
											r="1"
											gradientUnits="userSpaceOnUse"
											gradientTransform="translate(12 23) rotate(-55.3758) scale(25.5196)"
										>
											<stop stop-color="#B13589"></stop>
											<stop
												offset="0.79309"
												stop-color="#C62F94"></stop>
											<stop
												offset="1"
												stop-color="#8A3AC8"></stop>
										</radialGradient>
										<radialGradient
											id="paint1_radial_87_7153"
											cx="0"
											cy="0"
											r="1"
											gradientUnits="userSpaceOnUse"
											gradientTransform="translate(11 31) rotate(-65.1363) scale(22.5942)"
										>
											<stop stop-color="#E0E8B7"></stop>
											<stop
												offset="0.444662"
												stop-color="#FB8A2E"></stop>
											<stop
												offset="0.71474"
												stop-color="#E2425C"></stop>
											<stop
												offset="1"
												stop-color="#E2425C"
												stop-opacity="0"></stop>
										</radialGradient>
										<radialGradient
											id="paint2_radial_87_7153"
											cx="0"
											cy="0"
											r="1"
											gradientUnits="userSpaceOnUse"
											gradientTransform="translate(0.500002 3) rotate(-8.1301) scale(38.8909 8.31836)"
										>
											<stop
												offset="0.156701"
												stop-color="#406ADC"></stop>
											<stop
												offset="0.467799"
												stop-color="#6A45BE"></stop>
											<stop
												offset="1"
												stop-color="#6A45BE"
												stop-opacity="0"></stop>
										</radialGradient>
									</defs>
								</g></svg
							>
						</button>
					</a>
					<a
						href="https://www.facebook.com/blalmal10a"
						target="_blank"
					>
						<button
							class="bg-blue-500 p-2 font-semibold text-white inline-flex items-center space-x-2 rounded"
						>
							<svg
								class="w-5 h-5 fill-current"
								role="img"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 24 24"
								><path
									d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"
								></path>
							</svg>
						</button>
					</a>
					<a href="https://x.com/blalmal10a" target="_blank">
						<button
							class="bg-blue-400 p-2 font-semibold text-white inline-flex items-center space-x-2 rounded"
						>
							<svg
								class="w-5 h-5 fill-current"
								role="img"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 24 24"
								><path
									d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"
								></path></svg
							>
						</button>
					</a>
					<a
						href="http://reddit.com/u/ys-grouse"
						target="_blank"
						rel="noopener noreferrer"
					>
						<button
							class="bg-red-500 p-2 font-semibold text-white inline-flex items-center space-x-2 rounded"
						>
							<svg
								class="w-5 h-5 fill-current"
								role="img"
								viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
								><path
									d="M12 0A12 12 0 0 0 0 12a12 12 0 0 0 12 12 12 12 0 0 0 12-12A12 12 0 0 0 12 0zm5.01 4.744c.688 0 1.25.561 1.25 1.249a1.25 1.25 0 0 1-2.498.056l-2.597-.547-.8 3.747c1.824.07 3.48.632 4.674 1.488.308-.309.73-.491 1.207-.491.968 0 1.754.786 1.754 1.754 0 .716-.435 1.333-1.01 1.614a3.111 3.111 0 0 1 .042.52c0 2.694-3.13 4.87-7.004 4.87-3.874 0-7.004-2.176-7.004-4.87 0-.183.015-.366.043-.534A1.748 1.748 0 0 1 4.028 12c0-.968.786-1.754 1.754-1.754.463 0 .898.196 1.207.49 1.207-.883 2.878-1.43 4.744-1.487l.885-4.182a.342.342 0 0 1 .14-.197.35.35 0 0 1 .238-.042l2.906.617a1.214 1.214 0 0 1 1.108-.701zM9.25 12C8.561 12 8 12.562 8 13.25c0 .687.561 1.248 1.25 1.248.687 0 1.248-.561 1.248-1.249 0-.688-.561-1.249-1.249-1.249zm5.5 0c-.687 0-1.248.561-1.248 1.25 0 .687.561 1.248 1.249 1.248.688 0 1.249-.561 1.249-1.249 0-.687-.562-1.249-1.25-1.249zm-5.466 3.99a.327.327 0 0 0-.231.094.33.33 0 0 0 0 .463c.842.842 2.484.913 2.961.913.477 0 2.105-.056 2.961-.913a.361.361 0 0 0 .029-.463.33.33 0 0 0-.464 0c-.547.533-1.684.73-2.512.73-.828 0-1.979-.196-2.512-.73a.326.326 0 0 0-.232-.095z"
								></path></svg
							>
						</button>
					</a>
					<!-- <button
						class="bg-pink-600 p-2 font-semibold text-white inline-flex items-center space-x-2 rounded"
					>
						<svg
							class="w-5 h-5 fill-current"
							role="img"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
							><path
								d="M12.017 0C5.396 0 .029 5.367.029 11.987c0 5.079 3.158 9.417 7.618 11.162-.105-.949-.199-2.403.041-3.439.219-.937 1.406-5.957 1.406-5.957s-.359-.72-.359-1.781c0-1.663.967-2.911 2.168-2.911 1.024 0 1.518.769 1.518 1.688 0 1.029-.653 2.567-.992 3.992-.285 1.193.6 2.165 1.775 2.165 2.128 0 3.768-2.245 3.768-5.487 0-2.861-2.063-4.869-5.008-4.869-3.41 0-5.409 2.562-5.409 5.199 0 1.033.394 2.143.889 2.741.099.12.112.225.085.345-.09.375-.293 1.199-.334 1.363-.053.225-.172.271-.401.165-1.495-.69-2.433-2.878-2.433-4.646 0-3.776 2.748-7.252 7.92-7.252 4.158 0 7.392 2.967 7.392 6.923 0 4.135-2.607 7.462-6.233 7.462-1.214 0-2.354-.629-2.758-1.379l-.749 2.848c-.269 1.045-1.004 2.352-1.498 3.146 1.123.345 2.306.535 3.55.535 6.607 0 11.985-5.365 11.985-11.987C23.97 5.39 18.592.026 11.985.026L12.017 0z"
							></path></svg
						>
					</button> -->

					<a
						href="https://youtube.com/@blalmal10a"
						target="_blank"
						rel="noopener noreferrer"
					>
						<button
							class="bg-red-600 p-2 font-semibold text-white inline-flex items-center space-x-2 rounded"
						>
							<svg
								class="w-5 h-5 fill-current"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 16 16"
								><path
									d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
								></path></svg
							>
						</button>
					</a>
					<a
						href="http://github.com/blalmal10a"
						target="_blank"
						rel="noopener noreferrer"
					>
						<button
							class="bg-gray-700 p-2 font-semibold text-white inline-flex items-center space-x-2 rounded"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink"
								aria-hidden="true"
								role="img"
								class="w-5"
								preserveAspectRatio="xMidYMid meet"
								viewBox="0 0 24 24"
							>
								<g fill="none"
									><path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.435 9.795 8.205 11.385c.6.105.825-.255.825-.57c0-.285-.015-1.23-.015-2.235c-3.015.555-3.795-.735-4.035-1.41c-.135-.345-.72-1.41-1.23-1.695c-.42-.225-1.02-.78-.015-.795c.945-.015 1.62.87 1.845 1.23c1.08 1.815 2.805 1.305 3.495.99c.105-.78.42-1.305.765-1.605c-2.67-.3-5.46-1.335-5.46-5.925c0-1.305.465-2.385 1.23-3.225c-.12-.3-.54-1.53.12-3.18c0 0 1.005-.315 3.3 1.23c.96-.27 1.98-.405 3-.405s2.04.135 3 .405c2.295-1.56 3.3-1.23 3.3-1.23c.66 1.65.24 2.88.12 3.18c.765.84 1.23 1.905 1.23 3.225c0 4.605-2.805 5.625-5.475 5.925c.435.375.81 1.095.81 2.22c0 1.605-.015 2.895-.015 3.3c0 .315.225.69.825.57A12.02 12.02 0 0 0 24 12c0-6.63-5.37-12-12-12z"
										fill="currentColor"></path></g
								>
							</svg>
						</button>
					</a>
					<!-- <button
						class="bg-red-500 p-2 font-semibold text-white inline-flex items-center space-x-2 rounded"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink"
							aria-hidden="true"
							role="img"
							class="w-5"
							preserveAspectRatio="xMidYMid meet"
							viewBox="0 0 24 24"
							><g fill="none"
								><path
									fill-rule="evenodd"
									clip-rule="evenodd"
									d="M12 0C5.372 0 0 5.373 0 12s5.372 12 12 12c6.627 0 12-5.373 12-12S18.627 0 12 0zm.14 19.018c-3.868 0-7-3.14-7-7.018c0-3.878 3.132-7.018 7-7.018c1.89 0 3.47.697 4.682 1.829l-1.974 1.978v-.004c-.735-.702-1.667-1.062-2.708-1.062c-2.31 0-4.187 1.956-4.187 4.273c0 2.315 1.877 4.277 4.187 4.277c2.096 0 3.522-1.202 3.816-2.852H12.14v-2.737h6.585c.088.47.135.96.135 1.474c0 4.01-2.677 6.86-6.72 6.86z"
									fill="currentColor"></path></g
							></svg
						>
					</button> -->
					<a href="mailto:malsawma7777@gmail.com">
						<button
							class="bg-white p-2 font-semibold text-white inline-flex items-center space-x-2 rounded"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink"
								aria-hidden="true"
								role="img"
								class="w-5"
								preserveAspectRatio="xMidYMid meet"
								viewBox="0 0 32 32"
								><g id="SVGRepo_bgCarrier" stroke-width="0"
								></g><g
									id="SVGRepo_tracerCarrier"
									stroke-linecap="round"
									stroke-linejoin="round"></g><g
									id="SVGRepo_iconCarrier"
								>
									<path
										d="M2 11.9556C2 8.47078 2 6.7284 2.67818 5.39739C3.27473 4.22661 4.22661 3.27473 5.39739 2.67818C6.7284 2 8.47078 2 11.9556 2H20.0444C23.5292 2 25.2716 2 26.6026 2.67818C27.7734 3.27473 28.7253 4.22661 29.3218 5.39739C30 6.7284 30 8.47078 30 11.9556V20.0444C30 23.5292 30 25.2716 29.3218 26.6026C28.7253 27.7734 27.7734 28.7253 26.6026 29.3218C25.2716 30 23.5292 30 20.0444 30H11.9556C8.47078 30 6.7284 30 5.39739 29.3218C4.22661 28.7253 3.27473 27.7734 2.67818 26.6026C2 25.2716 2 23.5292 2 20.0444V11.9556Z"
										fill="white"></path>
									<path
										d="M22.0515 8.52295L16.0644 13.1954L9.94043 8.52295V8.52421L9.94783 8.53053V15.0732L15.9954 19.8466L22.0515 15.2575V8.52295Z"
										fill="#EA4335"></path>
									<path
										d="M23.6231 7.38639L22.0508 8.52292V15.2575L26.9983 11.459V9.17074C26.9983 9.17074 26.3978 5.90258 23.6231 7.38639Z"
										fill="#FBBC05"></path>
									<path
										d="M22.0508 15.2575V23.9924H25.8428C25.8428 23.9924 26.9219 23.8813 26.9995 22.6513V11.459L22.0508 15.2575Z"
										fill="#34A853"></path>
									<path
										d="M9.94811 24.0001V15.0732L9.94043 15.0669L9.94811 24.0001Z"
										fill="#C5221F"></path>
									<path
										d="M9.94014 8.52404L8.37646 7.39382C5.60179 5.91001 5 9.17692 5 9.17692V11.4651L9.94014 15.0667V8.52404Z"
										fill="#C5221F"></path>
									<path
										d="M9.94043 8.52441V15.0671L9.94811 15.0734V8.53073L9.94043 8.52441Z"
										fill="#C5221F"></path>
									<path
										d="M5 11.4668V22.6591C5.07646 23.8904 6.15673 24.0003 6.15673 24.0003H9.94877L9.94014 15.0671L5 11.4668Z"
										fill="#4285F4"></path>
								</g></svg
							>
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="" style="overflow-x: hidden;">
		<div class="flex justify-center" data-aos="zoom-in-down">
			<img
				style="max-width: 300px;"
				src="/assets/images/high-five.svg"
				alt=""
			/>
		</div>
	</div>

	<div
		class="p-2 md:p-5 flex justify-center"
		style="height: 500px; overflow:hidden"
	>
		<iframe
			id="map-iframe"
			src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d277.1533714317665!2d92.72316523830814!3d23.741081700057666!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x374debb85cfb099f%3A0xb99311021f7c7c83!2sB.%20Dawngzela%20Building!5e0!3m2!1sen!2sin!4v1704352851086!5m2!1sen!2sin"
			width="110%"
			height="820"
			style="border:0; margin-top: -119px"
			allowfullscreen=""
			loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
</footer>
